.mf-gaudy-slide {
  position: relative;
  z-index: 0;
  background: #336699;
  height: 75vh;
  color: #FFFFFF;
  padding: 30px;
  text-align: center;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  &--inverted {
    color: #000000;
    background: #FFFFFF;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(http://placekitten.com/900/600) center center;
    background-size: cover;
    opacity: .33;
  }

  &__header + &__body {
    margin-top: 1em;
  }

  &__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
}

.mf-gaudy-slide-overlay {
  position: absolute;
  z-index: 1;
  text-align: center;
  pointer-events: none;
  top: 30px;
  left: 30px;
  height: calc(75vh - 30px);
  right: 30px;
  color: #FFFFFF;

  &--inverted {
    color: #000000;
  }

  &__heading {
    font-size: 64px;
    font-weight: normal;
  }

  &__running-heading {
    font-size: 16px;
    letter-spacing: .2em;
    font-weight: bold;
  }

  &__panel {
    font-size: .75em;
    line-height: 1.5;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -25%;
    width: 50%;
    background: rgba(#FFFFFF, .85);
    padding: 15px;
    color: #000000;
  }
}